<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ke.screencapture">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service
            android:name=".ScreenCaptureService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"></service>
        <activity
            android:name=".ScreenCaptureActivity"
            android:theme="@android:style/Theme.Translucent"></activity>
    </application>

</manifest>